.profile-container {
    position: relative;
    height: $height-body;

    .user-photo {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        margin-top: 3rem;
    }

    .edit-profile-container {
        // @include absCenter;

        .header-container {
            display: flex;
            align-items: center;
            padding-top: 2rem;
            margin-bottom: 1.5rem;

            h1 {
                margin-right: auto;
            }

            button:nth-child(2) {
                margin-right: 2rem;
            }
        }

        label {
            font-size: 1.4rem;
        }

        input {
            font-size: 1.6rem;
        }

        .form-group:not(:last-child) {
            margin-bottom: 1.5rem;
        }

    }
}


.body-profile {
    // background-image: url("../../../public/img/profile_bg.jpeg");
    background-image: url("../../../public/img/profile_bg.jpeg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    background-position: 35% 0;

}

