.font-Comfortaa {
	font-family: 'Comfortaa', cursive;
}
.font-PatuaOne {
	font-family: 'Patua One', cursive;
}
.font-Ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
.font-IBM {
	font-family: 'IBM Plex Sans', sans-serif;	
}
.font-Cantarell {
	font-family: 'Cantarell', sans-serif;

}
.font-Calistoga {
	font-family: 'Calistoga', cursive;
}
.font-Monoton {
	font-family: 'Monoton', cursive;
}
.font-Baskervville {
	font-family: 'Baskervville', serif;
}
.font-openSansCondensed {
	font-family: 'Open Sans Condensed', sans-serif;
}

.font-Girassol {
	font-family: 'Girassol', cursive;
}