$color-primary: #14D37A;
$color-primary-dark: #3BAB3F;
$color-primary-light: #DCE35B;
$color-white: #f8f9fa;
$color-secondary: #AC3464;
$color-secondary-light: #7b4397;
$color-secondary-dark: #dc2430;



// background-image: linear-gradient(to right bottom, #dce35b, #c2e15b, #a6df5e, #89dc64, #66d96c, #55d46b, #41ce6b, #25c96b, #2dc160, #33ba55, #37b24a, #3bab3f);





$font-nav: 2rem;




$height-nav: 8rem;
$height-body: calc(100vh - #{$height-nav});
